html, body {
    margin: 0;
}

header{
    background: #775757;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 65px;
    color: #fff;
}

header h1{
    margin: 0;
    font-size: 20px;
}

header img {
    width: 40px;
    height: 40px;
    margin: 0 0 0 20px;
}

header span {
    margin: 0 20px 0 auto;

}

header span img {
    width: 30px;
    height: 30px;
    margin: 0px 10px -8px auto;
}